#container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto;
}


/*Navigation*/

ul {
    padding: 0
}

#nav {
    height: 40px
}

#nav ul {
    list-style-type: none;
    float: right;
}

#nav ul li {
    display: inline;
    padding-right: 20px;
}

#nav ul li a {
    color: black;
    text-decoration: none;
}

#nav ul li a .google {
    border-radius: 50%;
    display: inline-block;
    background-position: center;
}

#nav ul li a:hover {
    text-decoration: underline;
}


/*Google logo*/

#main {
    text-align: center;
    margin-top: 60px;
    flex: 1;
}

#main .logo {
    padding-top: 109px;
}